<p id="notice"><%= notice %></p>

<div class="flex flex-wrap">
  <h1 class="text-lg">Projects</h1>
  <% @projects.each do |project| %>
    <%= project.title %>
    <%= project.donation_goal %>
    <%= project.user_id %>
    <%= truncate(strip_tags(project.description.to_s), length: 140) %>
    <%= image_tag project.thumbnail if project.thumbnail.present? %>
    <%= link_to 'View Project', project %>
    <!-- only if user login in or admin -->
    <% if author_of(project) %>
      <%= link_to 'Edit', edit_project_path(project) %>
      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>

  <%= link_to 'New Project', new_project_path %>
</div>
