<p id="notice"><%= notice %></p>

<div class="max-w-lg bg-black border border-gray-300 rounded-lg px-8 pt-6 pb-8">
  <h1 class="text-lg">Projects</h1>

  <table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-800 text-gray-200">
    <thead>
      <tr class="text-left border-b border-gray-300">
        <th class="px-4 py-3">Title</th>
        <th class="px-4 py-3">Goal</th>
        <th class="px-4 py-3">User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.donation_goal %></td>
          <td><%= project.user_id %></td>
          <td>
            <div class="text-sm">
              <%= link_to 'View Project', project %>
            </div>
          </td>
          <!-- only if user login in or admin -->
          <% if author_of(project) %>
            <td>
              <div class="text-sm">
                <%= link_to 'Edit', edit_project_path(project) %></td>
              </div>
            <td>
              <div class="text-sm">
                <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>  

  <br>  

  <div class="text-sm">
    <%= link_to 'New Project', new_project_path %>
  </div>
</div>