<div class="container relative p-6 mx-auto text-gray-900 bg-white rounded-lg lg:p-10">
  <div class="flex flex-wrap items-center justify-between w-full pb-4 mb-8 border-b-2 border-gray-200">
    <div class="flex flex-wrap items-start justify-between w-full pb-4 mb-4 border-b-2 border-gray-200">
      <div class="flex-1">
        <h1 class="text-3xl font-bold leading-none text-gray-800"><%= product.title %></h1>
        <p class="text-sm italic text-gray-500">Created by <%= product.user.name ||=
      product.user.username %></p>
      </div>
    </div>

    <div class="w-full mb-4 lg:w-1/5 lg:mb-0">
      <p class="text-xl text-gray-500"><%= number_to_currency(product.price)%></p>
    </div> 

    <div class="w-full mb-4 lg:w-1/5 lg:mb-0">
      <p class="m-0 text-xl font-semibold leading-none"><%= product.current_available_amount %> available</p>
    </div>  

    <div class="w-full mb-4 lg:w-1/5 lg:mb-0">
      <p class="m-0 text-xl font-semibold leading-none"><%= distance_of_time_in_words_to_now(product.expires_at) %></p>
      <p class="text-sm text-gray-500">to go</p>
    </div>
  </div>

  <div class="flex flex-wrap items-start justify-between mb-6">
    <div class="w-full lg:w-3/5">
    <% if product.thumbnail.present? %>
      <%= image_tag product.thumbnail, class: "rounded" %>
      <%= url_for(product.thumbnail) %>
      <%= link_to product.thumbnail %>

    <% else %>
      <div class="flex items-center justify-center p-8 text-center bg-gray-100 rounded">
        <div class="">
          <p class="text-xs font-bold text-gray-600 uppercase">product</p>
          <h3 class="text-2xl text-black"><%= product.title %></h3>
        </div>
      </div>
    <% end %>
    </div>
    <div class="w-full mt-6 lg:pl-10 lg:w-2/5 lg:mt-0">
      <p class="text-sm font-semibold text-gray-500 uppercase">Description</p>
      <%= product.description %>
    </div>
  </div>

  <div class="w-full lg:w-3/5 pb-6">
    <%= render "comments/comments", commentable: product  %>
    <%= render "comments/form", commentable: product %>
  </div>
  

  <%= form_with(model: product, url: checkout_product_path(product), method: :post) do |f| %>
    <div id="payment-form"></div>
    <%= f.submit "pay", class:"btn btn-default btn-danger" %>
  <% end %>

  <script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js"></script>
  <script>
    var clientToken = "<%= @client_token %>";
    braintree.setup(clientToken, "dropin", {
      container: "payment-form"
    });
  </script>

 <% if admin? || author_of(product) %>
    <div class="absolute top-0 right-0 mt-4 mr-4">
      <%= link_to 'Edit', edit_product_path(product), class: "btn btn-sm btn-outlined btn-default" %>
      <%= link_to 'Delete', product_path(product), method: :delete, class: "btn btn-sm btn-outlined btn-default", data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
</div>