<%= form_with(model: product, local: true, multipart: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="p-6 mb-5 text-red-500 bg-white rounded">
      <h2 class="font-bold text-red-500"><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6 text-xl">
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, class: "input" %>
  </div>

  <div class="mb-6 text-xl">
    <%= form.label :thumbnail, "Product Thumbnail", class: "label" %>
    <%= form.file_field :thumbnail %>
  </div>

  <div class="mb-6 text-xl">
    <%= form.label :price, class: "label" %>
    <%= form.text_field :price, class: "input" %>
  </div>

  <div class="mb-6 text-xl">
    <%= form.label :available_amount, "Available Amount", class: "label" %>
    <%= form.text_field :current_available_amount, class: "input" %>
  </div>

  <div class="mb-6 text-xl">
    <%= form.label :description, class: "label" %>
    <%= form.rich_text_area :description, class: "input" %>
  </div>

  <div class="mb-6 text-xl">
    <%= form.submit class: "btn btn-default" %>
  </div>

<% end %>
